@model IEnumerable<NorthwindMvc.Models.Product>
@{
    ViewData["Title"] = "Products";
}
<h1>Products</h1>

<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="btn btn-primary" asp-area="" asp-controller="Products" asp-action="Create">Create Product</a>
        </li>
    </ul>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Product Name</th>
            <th>Category Name</th>
            <th>Supplier Name</th>
            <th>Qty Per Unit</th>
            <th>Unit Price</th>
            <th>In Stock</th>
            <th>On Order</th>
            <th>Reorder Level</th>
            <th>Discontinued</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ProductId</td>
                <td>@item.ProductName</td>
                <td>@(item.Category.CategoryName ?? "No Category")</td>
                <td>@(item.Supplier.CompanyName ?? "Unknown")</td>
                <td>@item.QuantityPerUnit</td>
                <td>@item.UnitPrice</td>
                <td>@item.UnitsInStock</td>
                <td>@item.UnitsOnOrder</td>
                <td>@item.ReorderLevel</td>
                <td>@item.Discontinued</td>
                <td>
                    <a asp-action="Update" asp-route-id="@item.ProductId" class="btn btn-sm btn-secondary">Edit Product</a>

                </td>
            </tr>
        }
    </tbody>
</table>